                                          Introduction to Python Object Types
                     
To write any text in python we choose Markdown from Cell.
Here we will discuss about Data Types in Python.

| Data Types | Example | 
| ---: |: --- | 
| Number  | Int, float |
| String | 'Spam'|
|List| [1,2,3]|
|Dictionaries|{'1':'spam', '2':'test'}|
|sets|set('abc')|
|tupples | (x,y)|

 

                                                     1. NUMBERS

We can perform operations like +,*,**

In [1]:
123+456

579

In [2]:
1.5*4

6.0

In [3]:
2**100

1267650600228229401496703205376

We can calculate lenth using len commond

In [4]:
len(str(2**20))

7

Using "math" we can perform more mathematical operations

In [5]:
import math
math.sqrt(8)

2.8284271247461903

In [6]:
import math
math.sqrt(4)

2.0

There is one module "Random" for random selection

In [9]:
import random
random.choice([1,2,3,4])

3

                                                      2. STRING

In [10]:
S='Spam'
len(S)

4

In [11]:
S[0]

'S'

In [12]:
S[1]

'p'

We can see in string indexing start from 0, 1, 2...and so on.

We can use negative indexing too.

In [13]:
S[-1]

'm'

It is last element

We can perform slicing operation on string

In [14]:
S='Spam'
S[1:3]

'pa'

Meaning of above syntax is S from Offeset 1 through 2.

We can perform addition (+) and multiplication (*) on sting

In [17]:
S='Spam'
S+'xyz'

'Spamxyz'

This general property of addition (+) is called polymorphism.

In [18]:
S*2

'SpamSpam'

Immutability on String:

In [19]:
S[0]='Z'

TypeError: 'str' object does not support item assignment

We can See Sting are immutable.

But we create new string using following method

In [22]:
S='Z'+S[1:]
print(S)

Zpam

TYPE-SPECIFIC METHODS:-

In [23]:
S.find('pa')

1

# find the offset of a substring
Replace occurrebces of a substring with another

In [24]:
S.replace('pa','XYZ')

'ZXYZm'

In [25]:
S

'Zpam'

Split on delimiter into a list of substring

In [27]:
line='aaa,bbb,ccccc,dd'
line.split(',')

['aaa', 'bbb', 'ccccc', 'dd']

Content tests tsalpha, isdigit etc

In [29]:
S.isalpha()

True

Remove witespace characters on the right side

In [31]:
line=line.rstrip()
line

'aaa,bbb,ccccc,dd'

Getting Help

In [32]:
help(S.replace)

Help on built-in function replace:

replace(old, new, count=-1, /) method of builtins.str instance
    Return a copy with all occurrences of substring old replaced by new.

      count
        Maximum number of occurrences to replace.
        -1 (the default value) means replace all occurrences.

    If the optional argument count is given, only the first count occurrences are
    replaced.

Other Ways to Code Strings

In [34]:
S='A\nB\tC'
S

'A\nB\tC'

 Pattern Matching

In [37]:
import re
match=re.match('Hello [\t]*(.*)world','Hello Python World')

                                                    3. LIST

Positionally ordered collections of arbitrarily typed objects

In [39]:
L=[123,'spam',1.23]
print(L)

[123, 'spam', 1.23]

In [40]:
len(L)

3

In [42]:
L[0]

123

In [43]:
L[:-1]

[123, 'spam']

Concatenation makes a new list too

In [44]:
L+[4,5,6]

[123, 'spam', 1.23, 4, 5, 6]

This concatenation will not change original list

In [45]:
print(L)

[123, 'spam', 1.23]

Type-Specific Operations:

A. append 

B. pop

C. sort

In [48]:
L.append('NI')
print(L)

[123, 'spam', 1.23, 'NI', 'NI']

In [49]:
L.pop(2)
print(L)

[123, 'spam', 'NI', 'NI']

In [50]:
M=['bb','aa','cc']

In [53]:
M.sort()
M

['aa', 'bb', 'cc']

Bounds Checking: List have no fixed size. Still python doesn't allow to reference items that are not present

In [55]:
L=[123,'spam','ni']

In [56]:
L[99]

IndexError: list index out of range

In [57]:
L[99]=1

IndexError: list assignment index out of range

Nesting: Use to represent multidimensional array

In [58]:
M=[[1,2,3],[4,5,6],[7,8,9]]

In [59]:
M[1]

[4, 5, 6]

In [60]:
M[1][2]

6

Comprehensions: We can get a perticular column usinf comprehension

In [61]:
col2= [row[1] for row in M]
col2

[2, 5, 8]

But original matrix will remain same

We can perform few operations

In [62]:
[row[1]+1 for row in M]

[3, 6, 9]

In [63]:
[row[1]+1 for row in M if row[1]%2==0]

[3, 9]

In [65]:
diag=[M[i][i] for i in [0,1,2]] #[0,1,2 means 1st 2nd and 3rd elements]
diag

[1, 5, 9]

Repeat the character of string

In [68]:
doubles=[c*2 for c in 'spam']
doubles

['ss', 'pp', 'aa', 'mm']

Row Sum

In [69]:
G= (sum(row) for row in M)
next(G)

6

In [70]:
next(G)

15

Map sum Item in a row

In [71]:
list(map(sum,M))

[6, 15, 24]

Creats keyvalue table of row sums

In [72]:
{i : sum(M[i]) for i in range(3)}

{0: 6, 1: 15, 2: 24}

                                                4.Dictionaries
                                                 
 1.Based on the concept of Maping.
 
 2. Based on "key:value" concept
 
 Mapping Operations:

In [76]:
D={'food':'Spam', 'quantity': 4, 'color':'pink'}

In [77]:
D['quantity']+=1 #Add 1 to 'quantity ' value

In [78]:
D

{'food': 'Spam', 'quantity': 5, 'color': 'pink'}

In [79]:
D={}
D['name']='Bob'
D['job']='dev'
D['age']=40

In [80]:
D

{'name': 'Bob', 'job': 'dev', 'age': 40}

In [81]:
print(D['name'])

Bob

Nesting Revisited

In [82]:
rec = {'name': {'first': 'Bob', 'last': 'Smith'},
'job': ['dev', 'mgr'],
'age': 40.5}

In [83]:
rec['name']

{'first': 'Bob', 'last': 'Smith'}

In [84]:
rec['name']['last']

'Smith'

In [85]:
rec['job']

['dev', 'mgr']

In [86]:
rec['job'][-1]

'mgr'

We can append something

In [87]:
rec['job'].append('janitor')
rec

{'name': {'first': 'Bob', 'last': 'Smith'},
 'job': ['dev', 'mgr', 'janitor'],
 'age': 40.5}

Here modifications is very easy. Flexibility of Python's core data types

Sorting Keys: for Loops

In [89]:
D={'a':1 , 'b': 2, 'c':3}
D

{'a': 1, 'b': 2, 'c': 3}

In [92]:
Ks = list(D.keys())
Ks

['a', 'b', 'c']

In [94]:
for key in Ks: # Iterate though sorted keys
   print(key, '=>', D[key]) # <== press Enter twice here

a => 1
b => 2
c => 3

In [95]:
for c in 'spam':
 print(c.upper())

S
P
A
M

In [100]:
x = 4
while x > 0:
    print('spam!' * x)
    x -= 1

spam!spam!spam!spam!
spam!spam!spam!
spam!spam!
spam!

In [101]:
squares = [x ** 2 for x in [1, 2, 3, 4, 5]]
squares

[1, 4, 9, 16, 25]

In [102]:
squares = []
for x in [1, 2, 3, 4, 5]: # This is what a list comprehension does
  squares.append(x ** 2) # Both run the iteration protocol internally
squares

[1, 4, 9, 16, 25]

                                                     5. Tuples
                                                     
                                                  Imutable sequence

In [103]:
T=(1,2,3,4)
len(T)

4

In [104]:
T+(5,6)

(1, 2, 3, 4, 5, 6)

In [105]:
T.index(4)

3

In [106]:
T.count(4)

1

In [107]:
T = ('spam', 3.0, [11, 22, 33])

In [108]:
T[1]

3.0

In [109]:
T[2][1]

22

                                                           6. Sets

In [110]:
X = set('spam')

In [111]:
Y = {'h', 'a', 'm'} # Make a set with new 3.0 set literal

In [112]:
X,Y

({'a', 'm', 'p', 's'}, {'a', 'h', 'm'})

In [113]:
X & Y

{'a', 'm'}

In [114]:
X|Y

{'a', 'h', 'm', 'p', 's'}

In [115]:
X-Y

{'p', 's'}

In [116]:
{x**2 for x in [1,2,3,4]}

{1, 4, 9, 16}