                                          2. More about Object Types - Numbers                                             

Built-in Numeric Tools

1. Expression operators

+, -, *, /, >>, **, &, etc.

2. Built-in mathematical functions

pow, abs, round, int, hex, bin, etc.

3. Utility modules

random, math, etc.

                                             2.1 Numeric Operations
                                             
Variables and Basic Expressions

In [1]:
a=3
b=4

Use of Number in Expression

In [2]:
a+1,a-1

(4, 2)

In [3]:
b*3, b/2

(12, 2.0)

In [4]:
a%2, b**2

(1, 16)

In [5]:
2+4.4,2.0**b

(6.4, 16.0)

In [6]:
c*2

NameError: name 'c' is not defined

In [7]:
b / 2 + a

5.0

In [8]:
print(b / (2.0 + a))

0.8

Comprision: Normal and Chain

In [9]:
1 < 2

True

In [10]:
2.0 >= 1 # Greater than or equal: mixed-type 1 converted to 1.

True

In [11]:

>>> 2.0 == 2.0

True

In [12]:
2.0 != 2.0 # Not equal value

False

In [17]:
X = 2
Y = 4
Z = 6

In [18]:
X < Y < Z

True

In [19]:
X < Y and Y > Z

False

Complex Number

In [20]:
1J*1J

(-1+0j)

Other Built-in Numeric Tools

1. math 

2. pow 

3. abs 

4. min

In [22]:
import math
math.pi, math.e

(3.141592653589793, 2.718281828459045)

In [23]:
math.sin(2 * math.pi / 180)

0.03489949670250097

In [24]:
pow(2, 4), 2 ** 4

(16, 16)

In [25]:
 abs(-42.0), sum((1, 2, 3, 4))

(42.0, 10)

In [26]:
 min(3, 1, 2, 4), max(3, 1, 2, 4)

(1, 4)

In [27]:
 math.sqrt(144)

12.0

                                                     2.2 Sets
                                                     
Unordered collection of Unique and immutable objects that support operations to mathematical set theory

In [28]:
x=set('abcde')

In [29]:
y = set('bdxyz')

In [30]:
x

{'a', 'b', 'c', 'd', 'e'}

In [31]:
x= x
set(['a', 'c', 'b', 'e', 'd'])

{'a', 'b', 'c', 'd', 'e'}

In [32]:
'e'in x

True

In [33]:
x-y

{'a', 'c', 'e'}

In [36]:
x |y # union

{'a', 'b', 'c', 'd', 'e', 'x', 'y', 'z'}

In [37]:
x & y

{'b', 'd'}

In [38]:
 x ^ y # Symmetric difference (XOR)

{'a', 'c', 'e', 'x', 'y', 'z'}

In [39]:
x > y, x < y # Superset, subset

(False, False)

In [40]:
 z = x.intersection(y) # Same as x & y

In [41]:
z

{'b', 'd'}

In [42]:
z.add('SPAM') # Insert one item

In [43]:
z
set(['b', 'd', 'SPAM'])

{'SPAM', 'b', 'd'}

In [44]:
z.remove('b') # Delete one item

In [45]:
z

{'SPAM', 'd'}

In [47]:
for item in set('abc'): 
                print(item*3)

bbb
aaa
ccc

Why Sets??

Set operations have a variety of common uses, some more practical than mathematical.
For example, because items are stored only once in a set, sets can be used to filter
duplicates out of other collections. Simply convert the collection to a set, and then
convert it back again (because sets are iterable, they work in the list call here):

In [49]:
 L = [1, 2, 1, 3, 2, 4, 5]
set(L)

{1, 2, 3, 4, 5}

In [51]:
L = list(set(L))
L

[1, 2, 3, 4, 5]

                                  2.3 Dyanamic Typing and Interlude