In [4]:
import pandas as pd
df=pd.read_excel(r'D:\My Goals 2021\1. DeepBytes\1A. Python\3. Pandas\pandtable.xlsx')

print(df)

     Name         Breed  Color  Height(cm)  Weight (kg) Date of Birth
0    Bella     Labrador  Brown          56           25    2013-07-01
1  Charlie       Poodle  Black          43           23    2013-07-02
2     Lucy    Chow Chow  Brown          46           22    2013-07-03
3   Cooper    Schnauzer   Gray          49           17    2013-07-04
4      Max     Labrador  Black          59           29    2013-07-05
5    Stell     Chihuhua    Tan          18            2    2013-07-06
6   Bernie  St. Bernard  White          77           74    2013-07-07

To print only head ...few lines ....head()

In [5]:
df.head()

     Name       Breed  Color  Height(cm)  Weight (kg) Date of Birth
0    Bella   Labrador  Brown          56           25    2013-07-01
1  Charlie     Poodle  Black          43           23    2013-07-02
2     Lucy  Chow Chow  Brown          46           22    2013-07-03
3   Cooper  Schnauzer   Gray          49           17    2013-07-04
4      Max   Labrador  Black          59           29    2013-07-05

Exploring a DataFrame: .info()

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Name           7 non-null      object
 1   Breed          7 non-null      object
 2   Color          7 non-null      object
 3   Height(cm)     7 non-null      int64
 4   Weight (kg)    7 non-null      int64
 5   Date of Birth  7 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 464.0+ bytes

Exploring a DataFrame: .shape

In [7]:
df.shape

(7, 6)

Exploring a DataFrame: .describe()

In [8]:
df.values

array([['Bella', 'Labrador', 'Brown', 56, 25,
        Timestamp('2013-07-01 00:00:00')],
       ['Charlie', 'Poodle', 'Black', 43, 23,
        Timestamp('2013-07-02 00:00:00')],
       ['Lucy', 'Chow Chow', 'Brown', 46, 22,
        Timestamp('2013-07-03 00:00:00')],
       ['Cooper', 'Schnauzer', 'Gray', 49, 17,
        Timestamp('2013-07-04 00:00:00')],
       ['Max', 'Labrador', 'Black', 59, 29,
        Timestamp('2013-07-05 00:00:00')],
       ['Stell', 'Chihuhua', 'Tan', 18, 2,
        Timestamp('2013-07-06 00:00:00')],
       ['Bernie', 'St. Bernard', 'White', 77, 74,
        Timestamp('2013-07-07 00:00:00')]], dtype=object)

Components of a DataFrame: .columns and .index

In [10]:
df.columns

Index(['Name ', 'Breed', 'Color', 'Height(cm)', 'Weight (kg)',
       'Date of Birth'],
      dtype='object')

In [11]:
df.index

RangeIndex(start=0, stop=7, step=1)

                         pandas Philosophy
 There should be one -- and preferably only one -- obvious way to do it.
- The Zen of Python by Tim Peters, Item 13

In [14]:
df.sort_values("Weight (kg)")

     Name         Breed  Color  Height(cm)  Weight (kg) Date of Birth
5    Stell     Chihuhua    Tan          18            2    2013-07-06
3   Cooper    Schnauzer   Gray          49           17    2013-07-04
2     Lucy    Chow Chow  Brown          46           22    2013-07-03
1  Charlie       Poodle  Black          43           23    2013-07-02
0    Bella     Labrador  Brown          56           25    2013-07-01
4      Max     Labrador  Black          59           29    2013-07-05
6   Bernie  St. Bernard  White          77           74    2013-07-07